<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 col-xl-12">
                <div class="card rounded-3">
                    <div class="card-body p-4">


                        <h4 class="text-center my-3 pb-3">برنامه لیست وظایف</h4>

                        <div class="row g-3 mb-4 pb-2">
                            <div class="col-8">
                                <div class="form-outline">
                                    <input type="text" id="taskTitle" class="form-control" placeholder="Task title"
                                        [(ngModel)]="taskTitle" (ngModelChange)="titleChanged()" />
                                </div>
                            </div>

                            <div class="col-4 btn-group">
                                <button type="submit" class="btn btn-primary" (click)="addTask()">
                                    <i class="bi bi-plus-lg"></i>
                                    افزودن</button>
                                <button type="submit" class="btn btn-danger mx-1" (click)="deleteAll()">
                                    <i class="bi bi-trash3"></i>
                                    حذف کل</button>
                            </div>
                        </div>
                        <div class="row  g-3 mb-4 pb-2">
                            <div class="col-10">
                                <input class="form-control" id="myInput" type="text" placeholder="Search.."
                                    [(ngModel)]="taskTitleSearch" (ngModelChange)="(applyFilter())">
                            </div>
                        </div>
                        <table class="table table-info table-hover table-bordered table-striped">
                            <thead class="table-secondary">
                                <tr>
                                    <th class="text-center" scope="col">ردیف</th>
                                    <th class="text-center" scope="col">شرح</th>
                                    <th class="text-center" scope="col">وضعیت</th>
                                    <th class="td-actions  text-right" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="tasks.length; else noItemsInTasks">
                                    <tr *ngFor="let task of tasks; let i = index; trackBy: trackByItems">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td [ngClass]="{'text-decoration-line-through': task.status == 3}">
                                            {{ task.title }}
                                        </td>
                                        <td>
                                            <ng-container [ngSwitch]="task.status">
                                                <span *ngSwitchCase="1" class="text-danger">انتظار</span>
                                                <!-- Pendding-->
                                                <span *ngSwitchCase="2" class="text-warning">در حال پیش رفت</span>
                                                <!--In Progress-->
                                                <span *ngSwitchCase="3" class="text-success">انجام شده!</span>
                                                <!--Done-->
                                                <span *ngSwitchDefault class="text-dark">هیچ کدام</span> <!--NONE-->
                                            </ng-container>
                                        </td>
                                        <td>

                                            <ng-container [ngSwitch]="task.status">
                                                <button *ngSwitchCase="1" type="button"
                                                    class="btn btn-outline-primary mx-1"
                                                    (click)="changeStatus(task.id, 2)">
                                                    <i class="bi bi-skip-start-circle"></i>
                                                </button>

                                                <ng-container *ngSwitchCase="2">
                                                    <button type="button" class="btn btn-outline-success mx-1"
                                                        (click)="changeStatus(task.id, 3)">
                                                        <i class="bi bi-check-lg"></i>
                                                    </button>

                                                    <button type="button" class="btn btn-outline-secondary mx-1"
                                                        (click)="changeStatus(task.id, 1)">
                                                        <i class="bi bi-cloud"></i>
                                                    </button>
                                                </ng-container>

                                                <button *ngIf="3" type="button" class="btn btn-outline-warning mx-1"
                                                    (click)="changeStatus(task.id, 2)">
                                                    <i class="bi bi-x-lg"></i>
                                                </button>
                                            </ng-container>

                                            <button type="button" class="btn btn-outline-danger"
                                                (click)="deleteTask(task.id)">
                                                <i class="bi bi-trash3"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noItemsInTasks>
                                    <tr>
                                        <td colspan="4">
                                            <h3 class="text-center">تمام وظایف انجام شده است!</h3>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>